*{
	margin: 0;
	padding: 0;
	font-size: 100%;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

nav, ul {
	list-style: none;
}

a {
	text-decoration: none;
	cursor: pointer;
	opacity: 0.9;
}

a:hover {
	opacity: 1;
}

header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 50px;
	background-color: #ffffff;
}

header img {
	width: 200px;
}

header nav {
	display: flex;
}

header li a {
	color: #191c03;
}

header li {
	margin: 0 15px;
}

header li:first-child {
	margin-left: 0;
}

header li:last-child {
	margin-right: 0;
}

@media (max-width: 700px) {
	header { 
		flex-direction: column; 
	}

	header img {
		margin-bottom: 15px;
	}
}

.hero {
	background-image: url(../_img/hero.jpg); 
	background-size: cover;
	min-height: 100vh;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.hero h1 {
	font-size: 3.2rem;
	margin-bottom: 15px;
}

.hero h3 {
	font-size: 2rem;
	margin-bottom: 15px;
}

.hero .btn {
	background-color: #ffffff;
	border-radius: 20px;
	color: #191c03;
	padding: 20px 50px;
	text-transform: uppercase;
}

@media (max-width: 700px) {
	.hero h1 { 
		font-size: 2.5rem;
	}

	.hero h3 {
		font-size: 1.5rem;
	}
}

.conheca-o-hotel {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 50px;
}

.conheca-o-hotel h3 {
	font-size: 2rem;
	margin-bottom: 35px;
	color: #191c03;
}

.conheca-o-hotel p {
	max-width: 800px;
	margin-bottom: 35px;
	color: #191c03;
	text-align: center;
}

.conheca-o-hotel hr {
	width: 200px;
	height: 2px;
	background-color: #191c03;
	margin-bottom: 70px;
	border: none;
}

.conheca-o-hotel .grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.conheca-o-hotel .grid li {
	height: 350px;
	padding: 20px;
	border-radius: 4px;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
}

.conheca-o-hotel .grid li.small {
	flex-basis: 40%;
}

.conheca-o-hotel .grid li.large {
	flex-basis: 60%;
}

@media (max-width: 700px) {
	.conheca-o-hotel .grid li.small, .conheca-o-hotel .grid li.large { 
	flex-basis: 100%;
	}
}

.caracteristicas {
	background-color: #191c03;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 50px;
}

.caracteristicas h3 {
	font-size: 2rem;
	margin-bottom: 35px;
	color: #ffffff;
}

.caracteristicas p {
	max-width: 800px;
	margin-bottom: 35px;
	color: #ffffff;
	text-align: center;
}

.caracteristicas hr {
	width: 200px;
	height: 2px;
	background-color: #ffffff;
	margin-bottom: 70px;
	border: none;
}

.caracteristicas .grid {
	width: 100%;
	display: flex;
}

.caracteristicas .grid li {
	padding: 0 30px;
	text-align: center;
}

.caracteristicas .grid li i {
	color: #c3c63b;
	font-size: 3.5rem;
	margin-bottom: 30px;
}

.caracteristicas .grid li h4 {
	font-size: 1.5rem;
	color: #c3c63b;
	margin-bottom: 30px;
}

.caracteristicas .grid li p {
	color: #ffffff;
}

@media (max-width: 850px) {
	.caracteristicas .grid { 
	flex-direction: column;
	}
}

.newsletter {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 50px;
}

.newsletter h3 {
	font-size: 2rem;
	margin-bottom: 35px;
	color: #c3c63b;
}

.newsletter p {
	max-width: 800px;
	margin-bottom: 35px;
	color: #c3c63b;
	text-align: center;
}

.newsletter hr {
	width: 200px;
	height: 2px;
	background-color: #c3c63b;
	margin-bottom: 70px;
	border: none;
}

.newsletter form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 80%;
	max-width: 800px;
}

.newsletter input {
	padding: 15px;
	border: 1px solid #c3c63b;
	border-radius: 4px;
	margin-right: 15px;
	flex: 1;
}

.newsletter button {
	padding: 15px;
	background-color: #c3c63b;
	color: #191c03;
	text-transform: uppercase;
	border: none;
	border-radius: 4px;
	color: #ffffff;
	cursor: pointer;
}

@media (max-width: 700px) {
	.newsletter input { 
	flex-basis: : 100%;
	margin-bottom: 15px;
	}
}

footer {
	display: flex;
	flex-direction: column;
	background-color: #191c03;
	padding: 50px 0;
	align-items: center;
	text-align: center;	
}

footer ul {
	display: flex;
	margin-bottom: 25px;
}

footer ul li {
	margin-right: 10px;
}

footer ul li:last-child {
	margin-right: 0px;
}

footer ul li a {
	color: #c3c63b;
	font-size: 2rem;
}

footer p {
	color: #c3c63b;
}